
@{
    ViewBag.Title = "Bienvenido";
}
<h1 class="col s10 push-s1 titulo">Bienvenido a SENASISTENCIA</h1>

<p class="col s10 push-s1 m6 push-m3 center-align">Aqui podras tener todo el control sobre tus Centros de formacion,Sedes,Fichas,Aprendices y mucho mas</p>

